@font-face {
font-family: wqym;
src: url('/static/font/wqym.ttf');
}

@font-face {
font-family: zkkl;
src: url('/static/font/zkkl.ttf');
}
@font-face {
font-family: zk-kuaile-font;
src: url('/static/font/zk-kuaile-font.ttf');
}
@font-face {
font-family: zk-kuhei-font;
src: url('/static/font/zk-kuhei-font.ttf');
}
@font-face {
font-family: zk-gaoduanhei-font;
src: url('/static/font/zk-gaoduanhei-font.ttf');
}
@font-face {
font-family: zk-huangyou-font;
src: url('/static/font/zk-huangyou-font.ttf');
}
@font-face {
font-family: xinqingnian-changgui;
src: url('/static/font/xinqingnian-changgui.ttf');
}